In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import mysql.connector as sql
db_connect = sql.connect(host='localhost', database='profesiones', user='john', password='john')
df = pd.read_sql('SELECT * FROM profesion', con=db_connect)
print(df)

                                  nombre  demandaPais
0  ingeniero de software y desarrollador           24
1                  Ingeniero electrónico           19
2                     Ingeniero mecánico           19
3                             Enfermero            18
4                                Médico            16
5                        Ingeniero civil           16
6                    Ingeniero electrico           16
7                      analisis de datos           11
8                               contable           11
9                 director de ingeniería            9